*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html body{
    background-color: #111;
}

#wrapper{
width: 100%;
height: 100%;
margin-top: 50px;
}

#button-div{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#button-div button{
    padding: 5px;
    border: 1px solid white;
}